html, body {font-family: 'Lato', sans-serif; font-size:90%; margin:0px; padding:0px; width:100%; 
  /**
  background-color: #0B588C;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0B588C), color-stop(50%, #D4E1EA), to(#0B588C));
  background-image: -webkit-linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
  background-image: -moz-linear-gradient(top, #0B588C, #D4E1EA 50%, #0B588C);
  background-image: -ms-linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
  background-image: -o-linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
  background-image: linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
  */
}

a {text-decoration:none; color:#359BED}
a:hover {text-decoration:underline;}

.highlightKeyword { font-weight: bold; color:#EC692D}


.hr{width:100%; margin:50px 0px 50px 0px; border:2px solid #f1f1f1;}


ul {margin:0px; padding:0px; list-style:none; }


/** header */
#header { background-color:#ffffff; height:30px; padding:10px; position:relative; }

/** count down */
#countdown {color:#000000; font-size:18px; position:absolute; left:205px; top:-2px;  }
#countdown label {color:#FF4B00; font-size:40px; font-weight:bold; }

/**social media */
#socialmedia {position:absolute; right:0px; top:3px; }
#socialmedia li {padding:10px; float:left; position:relative; }
#socialmedia img {width:25px; height:25px; }
#socialmedia #stayLoop {position:relative; top:-7px; text-align:right; }
#socialmedia #stayLoop label {font-size:16px; font-weight:600; color:#FF4B00;}

/**main content */
#mainContent {width:94%; padding:5px 3% 0px 3%; }
#mainContent > div {width:100%; position:relative}
#mainContent .mainBlock {margin-top:30px;}


/** title */
#title h1 label {color:#aaaaaa; font-size:24px; font-weight:300;   }
#title {padding:30px 3% 30px 3%; width:94%;  background-color:#f1f1f1; position:relative;}
#title img {position:absolute; right:0px; top:4px; width:350px; }


/** widget candidate */
#candidate {height:600px; margin-top:50px; }
#candidate ul {width:100%; height:100%;}
#candidate > ul > li {float:left; width:24.75%; border:1px solid #f1f1f1; background-color:#ffffff; }
#candidate > ul > li:hover {background-color:#f1f1f1;cursor:pointer;}

/** candidate name */
.candidate-name {width:100%; background-color:#000000; color:#ffffff; font-weight:bold; font-size:15px;  padding:10px 0px 10px 3px;}
.candidate-content {width:100%; height:100px; }

/** candidate-image */
.candidate-image {height:100px; width:70px; float:left;  }

/** candidate metadata*/
.candidate-metadata {padding:10px; float:left; position:relative;}
.candidate-twitterImage {width:45px; position:absolute; top:5x; left:5px; }
.candidate-twitterYesterday {position:absolute; top:15px; left:55px; font-size:30px; font-weight:bold; color:#359BED; }
.candidate-twitterYesterday label {color:#777777; font-size:10px; font-weight:500; position:absolute; top:8px; left:55px;}
.candidate-info {position:absolute; top:70px; left:10px; font-size:12px; color:#777777; font-weight:500; }

/** candidate index*/
.candidate-index {width:100%; margin-top:5px; border-top:1px solid #f1f1f1; }
.candidate-index ul li {position:relative;  color:#777777; font-size:12px; padding:10px 5px 10px 5px; font-weight:500; }
.candidate-index ul li label {font-size:25px; font-weight:bold;  color:#000000; margin-right:5px; }
.candidate-index ul li a {font-size:20px;}



/** detail information */
#detailInformation {}
#chart {width:100%; height:350px; }
#chart ul {width:100%;}
#chart ul li {float:left; padding:10px; line-height:20px; font-size:14px;  }
#chart ul li b {font-size:16px; }

/**information tabs */
#informationTabs .ui-tabs-nav li {width:24.49%;}
/**
#informationTabs .ui-tabs-nav li a {color:#ffffff}
#informationTabs .ui-state-default {background:transparent; }
#informationTabs .ui-tabs-selected {background:#ffffff;}
#informationTabs .ui-tabs-selected a {color:#000000;}
*/

/** widget_controlPanel */
#controlPanel {margin-top:50px; display:none;}



/** jquery ui */



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(lato.woff) format('woff');
}