html, body {font-family: 'Lato', sans-serif; font-size:90%; margin:0px; padding:0px; width:100%; }
html, #headerContent, body {max-width:995px; width:99.9%; margin:0 auto; }

body {background-color:#fafafa}

a {text-decoration:none; color:#359BED}
a:hover {text-decoration:underline;}

.highlightKeyword { font-weight: bold; color:#EC692D}


.hr{width:100%; margin:50px 0px 50px 0px; border:2px solid #f1f1f1;}
.loading {width:40px; height:40px; }

ul {margin:0px; padding:0px; list-style:none; overflow:hidden;}
li {display:block;}


.scroll-index{margin:0px; }

/** header */
#header { background-color:#ffffff;  padding:0px; height:86px;top:0px;left:0px; width:100%;  z-index:2000; box-shadow: 2px 4px 10px #cccccc;}
#header #headerContent {position:relative;}
.twitter-share-button {width:85px !important; }

/**power by*/
#header #powerby { position:absolute; font-size:13px; color:#555555; font-weight:normal; right:2px; top:0px;  }
#header #logo_pathgeo {height:30px; margin-top:4px;}


/** logo */
#logo {position:absolute; top:2px; left:7px;  z-index:100; width:14%; }
#logo img {height:30px; }
#logo:hover {text-decoration:none; cursor:pointer;}
#logo label {font-size:17px; font-weight:bold; z-index:100; position:absolute; left:32px;  top:8px; color:#000000; }

/** count down */
#countdown {color:#000000; font-size:14px; position:absolute; left:166px; top:-3px;   }
#countdown label {color:#FF4B00; font-size:35px; font-weight:bold; }
#clock {position:absolute; left:70px; top:6px; font-size:14px; color:#999999;}


/**menu */
#menu {position:absolute; right:2%; top:-3px;  display:none; }
#menu li {padding:10px 20px 10px 20px; float:left; position:relative; border-left:1px solid #f1f1f1; }
#menu li:hover {color:#FF4B00; cursor:pointer; background-color:#f1f1f1;  }
#menu img {width:25px; height:25px; }
#menu #stayLoop {position:relative; top:-7px; text-align:right; cursor:pointer; }
#menu #stayLoop label {font-size:16px; font-weight:600; color:#FF4B00; cursor:pointer; }
#menu .menu-text {padding-top:15px;}


/**share*/
#share {position:absolute; right:0px; top:6px;  }
#share li {padding:5px 0px 5px 7px;  position:relative; float:left; }
#share li:hover {color:#FF4B00; cursor:pointer; }
#share img {width:25px; height:25px; }
#share .menu-text {padding-top:15px;}
#share .IN-widget > span:nth-child(2) > span.IN-right {top:-4px; }


/**social media for donation.html */
#socialmedia {position:absolute; right:0px; top:3px; }
#socialmedia li {padding:10px; float:left; position:relative; }
#socialmedia li:hover {color:#FF4B00; cursor:pointer; }
#socialmedia img {width:25px; height:25px; }
#socialmedia #stayLoop {position:relative; top:-7px; text-align:right; cursor:pointer; }
#socialmedia #stayLoop label {font-size:16px; font-weight:600; color:#FF4B00; cursor:pointer; }
#socialmedia .menu-text {padding-top:15px;}


/** candidateNavBar */
#candidateNavBar {position:absolute; top:40px; right:0px; width:82%; padding:0px 2% 0px 2%; }
#candidateNavBar {display:none;}
#candidateNavBar ul {width:100%; height:100%;}
#candidateNavBar > ul > li {float:left; width:49.63%; border:1px solid #f1f1f1; background-color:#ffffff; position:relative; }


/** main */
#main {height:auto; }

/**accordion Menu*/
#navigator {width:100%; height:50px; margin-top:50px; padding:0px; position:absolute; }
.menuGroup {padding-bottom:0px; border-bottom:0px solid #f1f1f1; }
.menuGroup h4 {margin-bottom:5px; }
.menuGroup p {color:#999999; font-size:12px;}
.menuGroup .subMenu li {float:left; padding:10px 0px 10px 0px; color:#000000; font-size:12px; width:12.30%; text-align:center; border:1px solid #f1f1f1;  }
.menuGroup .subMenu li:hover { color:#FF4B00; cursor:pointer; }
.subMenuClick {font-weight:bold; background-color:#f1f1f1; }
.menuGroup .subMenu li[value='candidate'] {display:none; }

#navigator .menuGroup:nth-child(2) {display:none; }
#navigator .menuGroup:nth-child(3) {display:none; }
#navigator .menuGroup:nth-child(3) > p {display:none; }




/**main content */
#mainContent {width:100%; padding:0px 0% 0px 0%; float:left; border-right:1px solid #eeeeee; margin-top:0px; background-color:#ffffff;  }
#mainContent > div {width:100%; position:relative}

.mainBlock {padding:91px 0px 30px 0px; border-bottom:0px solid #f1f1f1; min-height:550px;  }
.mainBlock > ul {width:96%; overflow:hidden; margin:0 auto; margin-top:10px; }
.mainBlock > ul > li {float:left; width:49.63%; background-color:#ffffff; position:relative;display:block;  }
.mainBlock > ul > li:nth-child(1) {border-right:1px solid #f1f1f1;}
.mainBlock > ul > li:hover {}
.mainBlock > h2 {width:94%; padding:20px 3% 20px 3%; background-color:#f1f1f1; margin:0px; }
.mainBlock > h2 > p {color:#555555; font-size:13px; font-weight:normal; }
.mainBlock .ui-widget-content {border:0px; }

.mainBlock .loadingMainBlock {text-align:center;}
.mainBlock .loadingMainBlock img {width:30px; margin-top:20px; }



/** press */
#press {width:96%; margin:0 auto;  padding-top:8px; }
#press h4 {margin-bottom:5px; }
#press h4 label {font-weight:normal;font-size:12px;}
#press ul {width:100%;  position:relative;}
#press ul li {position:relative; width:96%; padding:30px 2% 30px 2%; text-align:left; border-bottom:1px solid #f1f1f1;  }
#press ul li > div {display:table-cell;}
#press .video {padding-right:40px;}
#press .press_description {width:68%; vertical-align:top;  }
#press ul li:hover {}
#press ul li img {width:100%; height:30px; width:80%; max-width:100px; margin-bottom:10px; left:0px;}
#press ul li b {font-size:14px; font-weight:normal;}
#press ul li h3 label {color:#777777; font-weight:normal; font-size:13px; }



/** widget candidate */
#home {padding-top:0px; min-height:450px; }
#home > p {font-size:14px; color:#555555; }
/**
#home > ul:after {background-image:url("../images/san_diego_map.jpg"); background-repeat:no-repeat; background-position:center; background-size:50%; 
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#home li {background-color:transparent; }
*/
#home > h2 {margin-top:0px; }
#home > ul {z-index:100; width:100%; padding:0px; opacity:1; background-color:#f1f1f1; margin-top:0px;  }
#home > ul > li {width:49.9%; }
#home .candidate-name {font-size:28px; }
#home .candidate-info {display:block; margin-top:10px; }
#home .updateTime {padding:10px; text-align:right; font-size:14px; color:#ff0000; font-weight:bold; }


/** title */
#title {padding:20px 3% 20px 3%; width:94%; background-color:#f1f1f1; font-size:30px; z-index:100; opacity:1; }
#title label {color:#555555; font-size:17px; font-weight:300;   }
#title #logo_electionpath {position:absolute; right:0px; top:4px; height:105px; z-index:10; }



/** chart*/
.chart {height:300px; padding:10px;}
.pieChart{width:24.8%; height:300px; float:left; border-left:1px solid #f1f1f1;  }
.chart div.pieChart:first-child {border-left:0px solid #f1f1f1;}



/** candidate name */
.candidate-name {width:100%; color:#ffffff; font-weight:bold; font-size:18px;  padding:0px; position:absolute; top:25px; left:120px;}
.candidate-content {width:100%; height:100%; padding-bottom:10px; border-bottom:0px solid #f1f1f1;  }
.candidate-content >ul > li {height:100%; }


/** candidate-image */
.candidate-image {height:100%; width:96%; padding:10px 2% 10px 2%; position:relative;  }
.candidate-image img {height:83px; width:83px; border-radius:100%; }


/** candidate metadata*/
.candidate-metadata {width:92%; height:100%; padding:10px 4% 10px 4%; position:relative; padding-top:10px; color:#555555;  }
.candidate-metadata a {color:#ffffff; }
.candidate-metadata > div {min-height:50px; }
.candidate-twitterImage {height:50%; max-width:25%; display:none; }
.candidate-twitterInfo {font-weight:bold; color:#555555; height:100px; width:100%; position:relative; padding:5px 0px 5px 0px; }
.candidate-twitterInfo > * {position:absolute;}
.candidate-twitterInfo > a {font-size:40px; width:40px;  max-width:50%; text-align:left; color:#369BED;   }
.candidate-twitterInfo label {color:#555555; font-size:16px; font-weight:500; max-width:40%; }
.candidate-info {font-size:13px; color:#ffffff; font-weight:normal; position:absolute; top:65px; left:122px;  }
.candidate-info a {color:#ffffff; margin-right:33px; }
.total_value {left:0px; top:20px; }
.total_label {left:0px; top:0px; }
.compare_value {left:63%; top:0px;  }
.compare_label {left:63%; top:42px;}
.compare_image {left:50%;}

/** candidate top 1 webpage */
.candidate-top1Webpage { margin-top:25px; border-top:1px solid #f1f1f1;}
.candidate-top1Webpage table {padding:2%; background-color:#ffffff; border-radius:5px; width:98%;  }
.candidate-top1Webpage h3 {font-weight:normal; color:#555555;}
.candidate-top1Webpage a {color:#359BED}
.candidate-top1Webpage .opengraph {height:130px; }

/** candidate index*/
.candidate-index {width:100%; margin-top:5px; border-top:1px solid #f1f1f1; }
.candidate-index ul li {position:relative;  color:#777777; font-size:12px; padding:10px 5px 10px 5px; font-weight:500; }
.candidate-index ul li a.showTable {font-size:25px; font-weight:bold;  margin-right:5px; }
.candidate-index ul li a {font-size:18px; font-weight:600;}


.candidate-overlay {z-index:1000; background:rgba(0,0,0,0.7); width:100%; height:95%; position:absolute; top:38px; }
.candidate-hide {padding:20px; font-size:14px; line-height:20px; color:#333333;}
.candidate-hide a {font-weight:600; font-size:16px; color:#359BED}

.biggestFollwers_yesterday a {color:#FF4B00}


/** candidate guage*/
.candidate-guage { width:95%; margin:0 auto; }


/**candidateInfo */
.candidateBar > ul {width:100%;}
.candidateBar > ul > li {float:left; width:49.9%; position:relative;  }
.candidateBar .candidate-image {padding:5px 2% 0px 2%; width:96%; }
.candidateBar .candidate-image img {width:45px !important; height:45px !important; }
.candidateBar .candidate-name {top:15px; left:80px;  }
.candidateBar .candidate-metadata {display:none;}
.candidateBar .candidate-content {padding-bottom:0px; }


.win {position:absolute; right:5px; bottom:10px; width:70px !important; height:70px !important;  }
.candidateBar .win {bottom:2px !important; }

/**top retweet */
#topRetweet .table tr:not(:first-child) td {height:115px; }
#topRetweet .opengraph-title {font-size:14px;}
#topRetweet .reTweetNumber {margin-top:15px; position:absolute; padding:4px; border-radius:4px; color:#00ABEC; border:1px solid #00ABEC; font-weight:normal; font-size:12px;  }

/** top webpage */
#topWebpage .tabs {margin:0 auto; width:95%; margin-top:5px; }
#topWebpage .ui-tabs .ui-tabs-panel {padding:5px; }


/** top story*/
#topStory #categories {width:96%; margin:0 auto; margin-top:30px; }
#topStory .tabContent table {width:500px; padding:20px 1.5% 20px 1.5%; display:table-cell;  }
#topStory .tabContent table tr:not(:first-child) {height:162px; }


/**chart */
#chartContent {position:relative; width:96%; margin:0 auto; margin-top:90px; margin-bottom:40px; }
#chartContent > h3 {position:absolute; top:-80px; left:1%; }
#chartContent > h3 > p {color:#555555; font-size:12px; font-weight:normal; }
#chart {position:relative; }
#chart_queryDate {position:absolute; left:60px; top:-30px ; font-size:13px; font-weight:600; display:none;  }
.dygraph-legend {width:110px !important; top:-60px !important; font-size:13px !important; left:auto !important; right:0px !important; }
.dygraph-legend > span {display:block !important}


/**highlight data*/
#highlightDate table {width:500px; padding:20px 1.5% 20px 1.5%; display:table-cell; }
#highlightDate table:nth-of-type(n+3) {display:none;}
#highlightDate table .rank {width:90px !important; }
#highlightDate table .value {width:75% !important; }
#highlightDate #loading {display:block; text-align:center; margin-top:50px; display:none;  }
#highlightDate #loading img {width:30px; }
#highlightDate .opengraph-description {margin-top:20px; }

/**map*/
#map {width:100%; margin:0 auto; height:425px; margin-top:0px;  }


/**feedback*/
#feedback {min-height:450px; }
#feedback form {margin:0 auto;  width:90%; }
#feedback form textarea {width:100%; height:200px; resize: none; border:1px solid #cccccc; }
#feedback form #ss-submit {float:right; }
#feedback .loadingMainBlock {display:none; }

/** table */
.table {width:99%;  margin:0 auto; border-collapse:collapse; margin-top:20px; }
.table tr:first-child {background-color:#f1f1f1; font-weight:600; font-size:14px; color:#555555; }
.table td {border-bottom:1px solid #dddddd; text-align:left !important; font-size:13px;  padding:10px 5px 10px 5px; font-family:'Lato', sans-serif;}
.table tr:not(:first-child):hover {background-color:#f1f1f1; }
.table tr:not(:first-child) {height:360px; max-height:360px; }
.table tr:not(:first-child) .rank {font-size:40px; color:#FF4904; text-align:center !important;}
.table a {text-decoration:none; color:#359BED}
.table a:hover {text-decoration:underline; }
.table tr td {vertical-align:top}
.table .rank {width:10% !important; }
.table .value {width:80% !important; 
	-ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word;
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    hyphens: auto;}
.table .count {width:10% !important; }



/** opengraph */
.opengraph { width:100%;  color:#555555; font-size:11px; font-weight:normal; }
.opengraph:hover {cursor:pointer; }
.opengraph li {height:auto; position:relative;}
.opengraph .opengraph-description {margin-top:5px; font-size:13px; position:absolute; background:rgba(0,0,0,0.7); width:93%; padding:10px 2% 10px 2%; color:#ffffff; bottom:2px; border-radius:5px; }
.opengraph .opengraph-description a {color:#ffffff; }
.opengraph .opengraph-image {height:60px; width:30%; max-width:80px; border-radius:5px;  box-shadow:1px 1px 10px #cccccc; }
.opengraph .opengraph-title {position:absolute; left:90px; top:-2px;  width:68%; max-width:68%; padding:0% 1% 0% 1%; font-size:14px; font-weight:bold; }
.opengraph .opengraph-socialCount {position:absolute; left:90px; top:40px; width:68%; max-width:68%; padding:0% 1% 0% 1%; font-size:13px;}
.opengraph .opengraph-socialCount img {height:20px; width:20px; }
.opengraph .loading {width:20px;height:20px; }
.opengraph .opengraph-video {width:97%; height:240px; }
.opengraph .opengraph-picture {width:97%; height:230px;border-radius:5px; box-shadow:1px 2px 10px #cccccc; }
.opengraph .opengraph-time {position:absolute; top:20px; left:90px; padding:0 1% 0 1%; font-size:12px; color:#999999; }


/** matrix table */
.matrixTable {width:99%;  margin:0 auto; border-collapse:collapse; margin-top:20px; }
.matrixTable th {background-color:#359BED; color:#ffffff; font-weight:600; font-size:12px; padding:5px; border:1px solid #dddddd; font-family:'Lato', sans-serif; }
.matrixTable td {width:200px; border:1px solid #dddddd; text-align:left; font-size:14px;  padding:5px; font-family:'Lato', sans-serif;}
.matrixTable tr:hover {background-color:#f1f1f1; }
.matrixTable a {text-decoration:none; color:#359BED !important}
.matrixTable a:hover {text-decoration:underline; }

#dialog_table > .ui-widget-content {border:0px; }
#dialog_table .head {font-family:"Lato"; font-size:14px; }
#dialog_table .head th {white-space:normal; text-align:left; }

/** martrix candidate */
.matrix-candidate {height:130px; }
.matrix-candidate .candidate-image {height:130px; width:auto;}
.matrix-candidate a {text-decoration:none; color:#359BED}
.matrix-candidate a:hover {text-decoration:underline; }


/**stick to nav */
.stickToNav {position: fixed; top: 0; left: 0; z-index: 10; width: 100%; border-bottom: 5px solid #ffffff;}



/** footer */
#footer {width:94% !important; height:70px; background-color:#f1f1f1; padding:3%; margin-top:50px; color:#444444; }
#footer ul {width:100%;}
#footer > ul > li {float:left; }
#footer > ul > li:nth-child(1) {width:30%;}
#footer > ul > li:nth-child(2) {width:70%; }
#footer #contactInfo > li {padding:5px 0px 10px 0px; position:relative;}
#footer #contactSocialMedia {position:absolute; left:200px; top:0px; width:50%; }
#footer #contactSocialMedia > li {float:left; padding:0px 10px 0px 10px; } 
#footer #contactSocialMedia > li:hover {cursor:pointer;}
#footer #contactSocialMedia img {width:28px; }

/** map */
#donationContent {width:100%; height:600px; margin-top:20px; display:none; }
#donationContent > p {font-size:14px; }
#donationContent > ul {width:100%;height:90%;}
#donationContent > ul > li {float:left;height:100%;}
#donationContent > ul > li:nth-child(1) {width:80%;}
#donationContent > ul > li:nth-child(2) {width:20%;}

#donationContent #legend > h2 {margin:0 auto; width:90%; text-align:center;}
#donationContent .legend {margin:20px 7.5% 20px 7.5%; width:77%; background-color:#f1f1f1; max-height:45%; padding:5%;  -moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; }

#donationContent .legend li {padding:10px 5% 10px 5%; width:90%; color:#ffffff; font-size:14px; font-weight:600; background-color:#ff0000}


#donationMap {width:100%; margin:0 auto; height:100%; }

/** widget_controlPanel */
#controlPanel {margin-top:50px; display:none;}



/**word cloud*/
.wordcloud {margin-top:20px; }
.wordcloud > svg {border:0px !important;}
.wordcloud {width:96%; padding:5px 2% 5px 2%; }


/**election resutl*/
#dialog_electionResult {padding:50px; font-family:'Lato'}
#dialog_electionResult h1 {width:90%; margin:0 auto; margin-bottom:50px; color:#FF4B00; text-align:center;}
#dialog_electionResult > h3 {width:95%; margin:0 auto; font-variant:small-caps; margin-bottom:15px;}
#dialog_electionResult p {line-height:25px; margin:30px 0px 30px 0px; }
#dialog_electionResult a {color:#359BED}
#dialog_electionResult ul {width:100%; height:150px;}
#dialog_electionResult ul li {float:left; width:22.5%;padding:20px 1% 20px 1%; text-align:center; border:1px solid #f1f1f1; height:100px;  }
#dialog_electionResult ul li:hover {background-color:#f1f1f1;}
#dialog_electionResult ul li img {width:100%; height:45px; width:80%; max-width:150px; margin-bottom:10px; }
#dialog_electionResult ul li b {font-size:14px; font-weight:normal;}

/** dialog */
.dialog {display:none; }



/**loading dialog*/
#dialog_loading {text-align:center;}
#dialog_loading img {width:40px; }
.no-close .ui-dialog-titlebar-close {display: none }

/** jquery ui */
.ui-widget-overlay {position:fixed}
.ui-icon-closethick {background:url(../images/1363366802_fileclose.png) no-repeat !important; background-size:100% 100% !important; width:32px; height:32px}
.ui-dialog-titlebar-close {right:.5em !important; top:30% !important; width:32px !important; height:32px !important;background-color:#eeeeee; -moz-border-radius:10px; -webkit-border-radius:10px;border-radius:10px;}
.ui-dialog-titlebar-close:hover {background-color:#cccccc; -moz-border-radius:10px; -webkit-border-radius:10px;border-radius:10px;}



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(lato.woff) format('woff');
}