html, body {font-family: 'Lato', sans-serif; font-size:90%; margin:0px; padding:0px; width:100%; }

a {text-decoration:none; color:#359BED}
a:hover {text-decoration:underline;}

.highlightKeyword { font-weight: bold; color:#EC692D}


.hr{width:100%; margin:50px 0px 50px 0px; border:2px solid #f1f1f1;}
.loading {width:40px; height:40px; }

ul {margin:0px; padding:0px; list-style:none; }


/** header */
#header { background-color:#ffffff; height:30px; padding:10px; position:relative; }

/** count down */
#countdown {color:#000000; font-size:18px; position:absolute; left:205px; top:-2px;  }
#countdown label {color:#FF4B00; font-size:40px; font-weight:bold; }
#clock {position:absolute; left:53px; top:5px; font-size:16px; color:#999999;}


/**social media */
#socialmedia {position:absolute; right:0px; top:3px; }
#socialmedia li {padding:10px; float:left; position:relative; }
#socialmedia img {width:25px; height:25px; }
#socialmedia #stayLoop {position:relative; top:-7px; text-align:right; }
#socialmedia #stayLoop label {font-size:16px; font-weight:600; color:#FF4B00;}

/**main content */
#mainContent {width:94%; padding:5px 3% 0px 3%; }
#mainContent > div {width:100%; position:relative}
#mainContent .mainBlock {margin-top:30px;}


/** title */
#title h1 label {color:#aaaaaa; font-size:24px; font-weight:300;   }
#title {padding:30px 3% 30px 3%; width:94%;  background-color:#f1f1f1; position:relative;}
#title img {position:absolute; right:0px; top:4px; width:350px; }


/** widget candidate */
#candidate {height:840px; margin-top:50px; }
#candidate > p {font-size:14px; color:#555555; }
#candidate ul {width:100%; height:100%;}
#candidate > ul > li {float:left; width:24.75%; border:1px solid #f1f1f1; background-color:#ffffff; }
#candidate > ul > li:hover {background-color:#f1f1f1;}


/** candidate name */
.candidate-name {width:100%; background-color:#000000; color:#ffffff; font-weight:bold; font-size:18px;  padding:8px 0px 8px 5px;}
.candidate-content {width:100%; height:100px; }

/** candidate-image */
.candidate-image {height:100px; width:70px; float:left;  }

/** candidate metadata*/
.candidate-metadata {padding:10px; float:left; position:relative;}
.candidate-twitterImage {width:45px; position:absolute; top:5x; left:5px; }
.candidate-twitterYesterday {position:absolute; top:15px; left:55px; font-size:30px; font-weight:bold; color:#359BED; }
.candidate-twitterYesterday label {color:#777777; font-size:10px; font-weight:500; position:absolute; top:8px; left:55px;}
.candidate-info {position:absolute; top:70px; left:10px; font-size:12px; color:#777777; font-weight:500; }

/** candidate index*/
.candidate-index {width:100%; margin-top:5px; border-top:1px solid #f1f1f1; }
.candidate-index ul li {position:relative;  color:#777777; font-size:12px; padding:10px 5px 10px 5px; font-weight:500; }
.candidate-index ul li a.showTable {font-size:25px; font-weight:bold;  margin-right:5px; }
.candidate-index ul li a {font-size:18px; font-weight:600;}


.biggestFollwers_yesterday a {color:#FF4B00}


/** detail information */
#detailInformation {}

/**chart */
#chartContent {width:100%; height:350px; position:relative; }
#chartContent ul {width:100%;}
#chartContent ul li {float:left; padding:10px; line-height:20px; font-size:14px;  }
#chartContent ul li b {font-size:16px; }
#chartContent #chart_queryDate {position:absolute; left:10px; bottom:5px; font-size:14px; font-weight:600; }


/**information tabs */
#informationTabs .ui-tabs-nav li {width:24.49%;}
/**
#informationTabs .ui-tabs-nav li a {color:#ffffff}
#informationTabs .ui-state-default {background:transparent; }
#informationTabs .ui-tabs-selected {background:#ffffff;}
#informationTabs .ui-tabs-selected a {color:#000000;}
*/
.informationContent {height:1500px; }
.informationContent ul {width:100%;}
.informationContent ul > li {width:33%; height:380px; float:left; text-align:center; border:1px solid #f1f1f1; font-family:"Lato"; }
.informationContent label {font-weight:600; font-size:14px;}
.informationContent > table {width:100%; font-family:"Lato"; }
.informationContent > table td {width:33%;border:1px solid #f1f1f1; text-align:center; vertical-align:top;}

/** table */
.table {width:90%;  margin:0 auto; border-collapse:collapse; margin-top:20px; }
.table tr:first-child {background-color:#f1f1f1; font-weight:600; font-size:14px;  }
.table td {border-bottom:1px solid #f1f1f1; text-align:left !important; font-size:12px;  padding:5px; font-family:'Lato', sans-serif;}
.table tr:not(:first-child):hover {background-color:#f1f1f1; }
.table a {text-decoration:none; color:#359BED}
.table a:hover {text-decoration:underline; }
.table .rank {width:10% !important; }
.table .value {width:80% !important; 
	-ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word;
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    hyphens: auto;}
.table .count {width:10% !important;}


/** matrix table */
.matrixTable {width:99%;  margin:0 auto; border-collapse:collapse; margin-top:20px; }
.matrixTable th {background-color:#359BED; color:#ffffff; font-weight:600; font-size:12px; padding:5px; border:1px solid #dddddd; font-family:'Lato', sans-serif; }
.matrixTable td {width:200px; border:1px solid #dddddd; text-align:left; font-size:14px;  padding:5px; font-family:'Lato', sans-serif;}
.matrixTable tr:hover {background-color:#f1f1f1; }
.matrixTable a {text-decoration:none; color:#359BED !important}
.matrixTable a:hover {text-decoration:underline; }

#dialog_table > .ui-widget-content {border:0px; }
#dialog_table .head {font-family:"Lato"; font-size:14px; }
#dialog_table .head th {white-space:normal; text-align:left; }

/** martrix candidate */
.matrix-candidate {height:130px; }
.matrix-candidate .candidate-image {height:130px; width:auto;}
.matrix-candidate a {text-decoration:none; color:#359BED}
.matrix-candidate a:hover {text-decoration:underline; }


/** map */
#map {width:90%; margin:0 auto; height:100%; margin-top:20px; }

/** widget_controlPanel */
#controlPanel {margin-top:50px; display:none;}



/** dialog */
.dialog {display:none; }


/** jquery ui */



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(lato.woff) format('woff');
}